exportPattern("^[[:alpha:]]+")
importFrom("stats", "median", "sd", "na.omit")
importFrom("plyr", "round_any")
importFrom("graphics", "image")
importFrom("reshape", "melt")
importFrom("jsonlite", "fromJSON")

